/**
 * Custom Styles here.
 *
 * ref：https://vuepress.vuejs.org/config/#index-styl
 */

video {
    object-fit: cover;
}

.xrdebug-lib-logo {
    width: 140px;
    max-width: 100%;
    max-height: 76px;
    height: auto;
}
